<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878019251719-astm5sbk16q40n3lsavjo3h7e3qnulgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878019251719-astm5sbk16q40n3lsavjo3h7e3qnulgp</string>
	<key>API_KEY</key>
	<string>AIzaSyD6XvkTGMjSd0s-PzjmzYWcaAm0hOAZcKA</string>
	<key>GCM_SENDER_ID</key>
	<string>878019251719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ruslan-Khanov.unTILED</string>
	<key>PROJECT_ID</key>
	<string>untiled-d222e</string>
	<key>STORAGE_BUCKET</key>
	<string>untiled-d222e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878019251719:ios:88ef00550890f6257ee4a2</string>
</dict>
</plist>